{% extends "rec_base.jinja2" %}

{% block objective %}
Your job is to generate travel destination recommendation,
given the user's query.
{% endblock %}

{% block agent_specs %}
===========================
TASK
===========================

Given the user query, generate the recommendation
along with a short explanation why the city was recommended.
The explanation should be aligned with the user's query.

{% endblock %}